.chat-message {
  .avatar {
    float: left;

    height: 40px;
    width: 40px;

    margin-right: 10px;
  }

  .message-info {
    display: flex;

    .timestamp {
      margin-left: auto;
    }
  }

  // needed to align everything correctly
  & > div {
    padding: 1px;
  }
}
